@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_Partail_user" />

<div class="col-lg-9 col-12 col-lg-9 my-3">
    <div class="table-container">
        Hii User
        @ViewBag.email
    </div>
</div>
</div>
</div> 

